{% extends 'layout.html' %}

{% block body %}
  <div class="jumbotron text-center">
    <h1>Sequence</h1>
   <p style="text-align:center-left;">
MIQLTATPVSALVDEPVHIRATGLIPFQMVSFQASLEDENGDMFYSQAHYRANEFGEVDLNHASSLGGDYMGVHPMGLFWSLKPEKLLTRLLKRDVMNRPFQVQVKLYDLELI
VNNKVASAPKASLTLERWYVAPGVTRIKVREGRLRGALFLPPGEGLFPGVIDLFGGLGGLLEFRASLLASRGFASLALAYHNYEDLPRKPEVTDLEYFEEAANFLLRHPKVFG
SGVGVVSVCQGVQIGLSMAIYLKQVTATVLINGTNFPFGIPQVYHGQIHQPLPHSAQLISTNALGLLELYRTFETTQVGASQYLFPIEEAQGQFLFIVGEGDKTINSKAHAEQ
AIGQLKRHGKNNWTLLSYPGAGHLIEPPYSPLCCASTTHDLRLHWGGEVIPHAAAQEHAWKEIQRFLRKHLIPDVTSQL

<br>
MDILCEENTSLSSTTNSLMQLNDDTRLYSNDFNSGEANTSDAFNWTVDSENRTNLSCEGCLSPSCLSLLHLQEKNWSALLTAVVIILTIAGNILVIMAVSLEKKLQNATNYFL
MSLAIADMLLGFLVMPVSMLTILYGYRWPLPSKLCAVWIYLDVLFSTASIMHLCAISLDRYVAIQNPIHHSRFNSRTKAFLKIIAVWTISVGISMPIPVFGLQDDSKVFKEGS
CLLADDNFVLIGSFVSFFIPLTIMVITYFLTIKSLQKEATLCVSDLGTRAKLASFSFLPQSSLSSEKLFQRSIHREPGSYTGRRTMQSISNEQKACKVLGIVFFLFVVMWCPF
FITNIMAVICKESCNEDVIGALLNVFVWIGYLSSAVNPLVYTLFNKTYRSAFSRYIQCQYKENKKPLQLILVNTIPALAYKSSQLQMGQKKNSKQDAKTTDNDCSMVALGKQH
SEEASKDNSDGVNEKVSCV
<br>
MAENLKRLVSNETLRTLQEKLDFWLKEYNTNTCDQNLNHCLELIEQVAKVQGQLFGILTAAAQEGGRNDGVETIKSRLLPWLEASFTAASLGKSVDSKVPSLQDTFDRERHKD
PSPRDRDMQQLDSNLNSTRSQCNQVQDDLVETEKNLEESKNRSAISLLAAEEEINQLKKQLKSLQAQEDARHRNTDQRSSENRRSEPWSLEERKREQWNSLKQNADQQDTEAM
SDYKKQLRNLKEEIAVLSAEKSALQGRSSRSRSPSPAPRSRSCSRSRSASPSTAVKVRRPSPNRSKLSNVARKAALLSRFSDSYSQARLDAQCLLRRCIDKAETVQRIIYIAT
VEAFHVAKMAFRHFKIHVRKSLTPSYVGSNDFENAVLDYVICHLDLYDSQSSVNDVIRAMNVNPKISFPPVVDFCLLSDFIQEICCIAFAMQALEPPLDIAYGADGEVFNDCK
YRRSYDSDFTAPLVLYHVWPALMENDCVIMKGEAVTRRGAFWNSVRSVSRCRSRSLSPICPRSQIGLNTMSRSRSPSPIRCGLPRF
<br> 
MGNQELEEVFVAVIRPKNTTSLNSKEYRAKSYEILLIEVPLEGKEKKRKKVLLGTKIHADSDRTKSILEFVDETTKPISNNQGIIGKRVVHMRKFLLDGDSGGKEASLFIVPIN
VKDNSKSVHHPGSPSFYCLQDIMRVCSETSAHFSSSTSKMLLALDKWLAEQHTVPHAIPALFRPAPVDRVKTNVSNPAYAVEKQTDGTLHMGYTALEIKSKLMSLEKADLCIQN
PLYGSDLQYTNRVDKVIINPYFGLGAPDYSKIQIPKRDKWQHSMTSVTEDKERQWVDDFPLHRSACEGDTELLSKLLDGGFSVKQLDSDHWAPIHYACWHGKVEATKLLLEKGN
CNPNLLNGQLSSPLHFAAIGGHAEIVQLLLQHPEIDRHIEDQQKRSPLQVCEENKQNNWEETVNLLQQASNKPYEKVRIYRMDGSYRSVELKHGNNTTVQQIMEGMRLSQETQQ
YFTIWICSENLSLQLKPYHKPLQHLRMWSEIVTDLTALDPQRESPQLFLRRDVRLPLEVEKKVEDPLSILILFDEARHCLLKGFLSTSDNKLITLASLLLQIIYGNYDSKKHKQ
GFLNEENLKSIVPISKVKSKAHHWTNRILHEYKSLSTSEGVSKEMHHLQRLFLQNCWDIPTYGAAFFTGQVFTKASSSTHKVIRVYVGVNTKGLHLMNMETKVLHLSLEYGTFM
WQLGQADQYVQIHSLENKKNFVVHTKQAGLIVKLLMKLSGQIAPNDRAVSDKYAYG
  
   </p>

  </div>
{% endblock %}
