{% extends 'layout.html' %}

{% block body %}
  <div class="jumbotron text-center">
    <h1>Read Me</h1>
   <p>&nbsp&nbspFor the convenience of users, particularly for the vast majority of experimental scientists, a publicly
                accessible web-server for <strong>Prediction model for Angiogenesis and Tumor angiogenesis process</strong> has been established. Moreover, to maximize
                users' convenience, given below a step-by-step guide on how to use it to get the desired results
                without the need to through the above mathematical details.</p>
            <p>&nbsp&nbsp<strong>Step 1.</strong> Open the web-server by clicking the link at
                <a href="http://biopred.org/Prediction model for Angiogenesis and Tumor angiogenesis process/">
                    http://biopred.org/Prediction model for Angiogenesis and Tumor angiogenesis process/</a>
                and you will see its top page of <strong>Prediction model for Angiogenesis and Tumor angiogenesis process</strong>.
                Click on the <strong>ReadMe</strong> button to see a brief introduction about the server.</p>
            <p>&nbsp&nbsp<strong>Step 2.</strong> You can either type or copy and paste the query sequences into the input box
                at the center of <strong>Prediction model for Angiogenesis and Tumor angiogenesis process</strong> Prediction Page.
                The input sequence should be in simple sequence format or in the FASTA format. A potential sequence in FASTA format consists of a
                    single initial line beginning with the symbol ">" in the first column, followed by lines of sequence
                    data in which nucleotides are represented using single-letter codes. Except for the mandatory symbol
                    ">", all the other characters in the single initial line are optional and only used for the purpose
                    of identification and description. The sequence ends if another line starting with the symbol ">"
                    appears; this indicates the start of another sequence.</p>
            <p>&nbsp&nbsp<strong>Step 3.</strong> Click on the <strong>Submit</strong> button to see the predicted results.
                The predicted results will be shown on the screen. </p>
            <p>&nbsp&nbsp<strong>Step 4.</strong> You can also download the predicted results into a file by clicking the
                <strong>Download</strong> button on the aforementioned screen.</p>
  </div>
{% endblock %}
